*{
    margin: 0px;
}
.main{
    background-image: url(witch-8658915_1280.png);
    height: 600px;
    width: 100%;
}
.heading {
    margin: 12px;
    
}
form{
    margin-right: 12px;
}
form button{
    background-color: rgb(36,33,52);
    color: white;
    border-radius: 6px;
    border: 1px solid black;
    padding: 7px;

}
 .nav li{
    margin-left: 60px;
    font-family: bold;
    
}
.contant{
    display: flex;
    justify-content: space-between;
    
}
.left-side{
    margin-top: 60px;
    margin-left: 60px;
}
.left-side button{
    background-color: rgb(36,33,52);
    color: white;
    border-radius: 6px;
    border: 1px solid black;
    padding: 7px;
    padding: 10px;
}
.right-side{
    
    
    margin-right: 45px;
    margin-top: 30px;
}
.items li{
    display: inline;
}
 .right-side form{
   border-radius: 60px;
   
    height: 410px;
    width: 300px;
    background-color: rgb(36,33,52);

}
form h1{
  
    padding: 15px;
    text-align: center;

}
.right-side input{
  width: 250px;
  padding: 5px;
  border-radius: 6px;
  border: none;
  margin: 10px;
  margin-left: 21px;
}
.right-side button{
    width: 250px;
    margin: 20px;
    margin-left: 20PX;
}
.right-side h6{
    text-align: center;
}
.items i{
    margin: 10px;
    font-size: 20px;
}
.items{
    margin-left: 35px;
}